<!-- Spotlight -->
        <section class="spotlight style1 content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
                <h2>{{ .Title }}</h2>
                {{ with .Description }}<p>{{ . | safeHTML }}</p>{{ end }}
                <ul class="actions stacked">
                    <li><a href="{{ .Permalink }}" class="button">{{ .Params.button_label }}</a></li>
                </ul>
            </div>
            {{ with .Params.image }}
              <div class="image">
                  <img src="{{ . }}" alt="" />
              </div>
            {{ end }}
        </section>
