	{{ if .IsHome }}
    {{ with .Site.GetPage "/banner/Home.md" }}{{ .Render "summary" }}{{ end }}
  {{ end }}

  <div id="navbar">
    <a class='more {{ partial "active-menu.html" (dict "context" . "topic" "web3") }}' href="/topics/web3">WEB3</a>
    <a class='more {{ partial "active-menu.html" (dict "context" . "topic" "AI") }}' href="/topics/ai">AI</a>
    <a class='{{ partial "active-menu.html" (dict "context" . "topic" "Quantum") }}' href="/topics/quantum">QUANTUM</a>
		<a href="#M" class="search-icon icon solid fa-search" onClick="displayModal()"></a>
  </div>

	<div id="M" class="modal">
		<div class="modal-content">
			<a class="closebutton" href="#">&times;</a>
			{{ partial "search" . }}
			<ul class="alt" id="results">
			</ul>
 			</div>
		<a href="#" class="closeoverlay" onClick="displayModal()"></a>
	</div>

	<script>
	function displayModal() {
	  var element = document.getElementById("M");
	  element.classList.toggle("modal-inactive");
	}
	</script>
