<!-- Banner -->
<section class="banner {{ .Params.style }}" style="height: 100%;
margin: 0;
overflow: clip;
contain: content;
 ">
    <div class="content">
        {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .Params.Subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .Params.Description }}<p>{{ . | safeHTML}}</p>{{ end }}
        <ul class="actions stacked">
            <li><a href="{{ with .Params.button_link }}{{ . }}{{ end }}" class="button primary large wide smooth-scroll-middle">{{ .Params.button_label }}</a></li>
        </ul>
    </div>
    {{ with .Params.image }}<div class="image">
      <img src="{{ . }}" alt="" />
    </div>{{end}}
</section>
